/log.txt
/build/
/dist/
/src/thinker_ai.egg-info/
/.idea
/test/my-image.png
/test/test.md
/test/Thumbs.db
/data/embeddings_cache.pkl
/src/thinker_ai/session_store.pkl
/src/thinker_ai/tasks/dynamic/gradio/gradio_test.py
/test/data/math_tutor-image-0.png
/src/thinker_ai/tasks/dynamic/gradio/flagged/log.csv
/test/thinker_ai_tests/agent/openai_assistant/test_assistants.json
/web/js/
