html,body {
    height: 100%;
    width: 98%;
    overflow: hidden;
}

#chat-container {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-direction: row;
    overflow: hidden;
}
.vertical-text-wrapper {
    display: flex;
    align-items: center;
    cursor: move;
    height: 100%;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#chat, #input-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

#panel-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

#chat {
    width: 95%;
    height: 65%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#input-container {
    display: flex;
    height: 25%;
    width: 95%;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
}
#input{
    height: 75%;
    resize: none;
}
#button-container {
    flex: 1;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 25%;
}
#send {
    width: 80%;
    height: 100%;
    padding: 10px;
}


.message-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin:5px;
}

.ai-container,.human-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.human-container {
    justify-content: flex-end;
}
.ai-container {
    justify-content: flex-start;
}


.human_avatar, .ai_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.human_message, .ai_message {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0 7px 0 7px;
    margin-bottom: 0;
    border-radius: 5px;
    color: black;
    font-size: 12px;
}

.human_message {
    background-color: #90ee90;
}

.ai_message {
    background-color: #ddd;
}
