<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/mermaid.css">
</head>
<body>
    <div id="container">
        <div id="mermaid-panel">
            <textarea id="mermaid-editor"></textarea>
            <button id="update-graphics" onclick="updateGraphics()">
                <i class="fas fa-sync-alt">  更 新 图 形</i>
            </button>
            <div id="mermaid-graphics"></div>
        </div>
    </div>
        <script type="text/javascript" src="/script/mermaid.js"></script>
    <script type="text/javascript" src="/script/dist/mermaid.js"></script>
</body>
</html>