#mermaid-graphics, #mermaid-editor, #update-graphics {
    width: auto;  /* 从 100% 改为 auto */
    max-width: 100%;
    margin: 0 10px;  /* 左右各 10px 的间距，使其在水平方向上居中 */
}
#mermaid-panel {
    width: 100%;
    height: 700px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mermaid-editor {
    flex: 1;
    height: 100%;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

#mermaid-graphics {
    flex: 3;
    height: 100%;
    margin: 5px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

#update-graphics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;  /* 修改这里以调整高度 */
    width: 40px;
    margin: auto;  /* 修改这里以实现水平居中 */
    font-size: 20px;
}

#update-graphics i {
    writing-mode: vertical-rl;
}
