/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    resize: none;
}

body {
    display: block;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.title {
    font-size: 40px; /* 字体放大 */
    margin: 0;
    text-align: center;
}



/* 头部和页脚样式 */
#header {
    background-color: transparent;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: center; /* 居中对齐 */
    align-items: center;
    position: relative; /* 相对定位用于放置按钮 */
}
#content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    height: 100%;
}
#design {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
}
#footer{
    background-color: #c7e1f3;
    padding: 20px;
}
.footer-container {
    text-align: center;
}

#menu {
    display: flex;
    justify-content: space-between; /* 按钮等距排列，两侧对齐 */
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #333; /* 背景色 */
}

.menu-item {
    flex-grow: 1;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
    border: none; /* 按钮无边框 */
    background-color: #a4d893;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #10e82d; /* 鼠标移动到按钮上时背景高亮 */
}

.menu-item.active {
    background-color: #10e82d; /* 当前menu的按钮背景高亮 */
}

/* h2 样式 */
h2 {
    font-size: 24px; /* 字体大小 */
    margin: 20px 0;
}

#auth-buttons {
    position: absolute;
    right: 0; /* 按钮靠右显示 */
}

#auth-buttons button {
    background-color: #a4d893;
    border: none; /* 无边框 */
    font-size: 16px; /* 字体放大 */
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#auth-buttons button:hover {
    background-color: #10e82d; /* 鼠标悬停时按钮背景变深 */
}
.tab-container {
    width: 100%;
    height: calc(100vh - 120px); /* 例如，减去 header 和 footer 的高度 */
    padding: 0;
    margin: 0;
}
#content-frame {
    width: 100%;
    height: 100%;
    border: none;
}